body {
  background-color: ccc;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  margin: 0;

}
h1 {
  font-size: 36px;
  font-weight: 300;
  line-height: 1.1;
  margin: 0;
}

h2 {
  font-size: 30px;
  font-weight: 300;
  line-height: 1.1;
  margin: 0;
}

header{
  
  height:100px;
  background-color: rgb(201, 59, 59);
  color: #ccc;
  text-align: center;
  font-family: "Arial";
  font-weight: bold;
  padding-top: 20px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(201, 59, 59);
}

li {
  float: left;
}

li a {
  display: block;
  color: #ccc;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color:rgb(201, 59, 59);
  }
  input[type=text], select, textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
    }
    
    input[type=submit] {
      background-color: rgb(201, 59, 59);
      color: #ccc;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    input[type=submit]:hover {
      background-color: rgb(226, 141, 141);
    }
    
    .container {
      border-radius: 5px;
      background-color: rgb(201, 59, 59);
      padding: 20px;
    }

header h1 {
  font-size: 36px;
  font-weight: 300;
  line-height: 1.1;
  margin: 0;
}

main {
  padding: 20px;
}

main h1 {
  font-size: 36px;
  font-weight: 300;
  line-height: 1.1;
  margin: 0;
}

#form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

input[type=submit]:hover {
  background-color: rgb(201, 59, 59);
}

input[type=submit] {
  width: 100%;
  background-color: rgb(201, 59, 59);
  color: #ccc;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=text],select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


table {
  width: 100%;
}

table,th,td {
  border: 1px solid #ffffff;
}

#table_div {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#table_div td, #table_div th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table_div th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(201, 59, 59);
  color: white;
}


#table_div tr:nth-child(even) {
  background-color: white;
}

#table_div tr:hover {
  background-color: #ddd;
}

#dropdown{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.get{
  width: 100%;
  background-color: rgb(201, 59, 59);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}